{% extends "bootstrap/base.html" %}
{% set active_page = active_page|default('home') %}

{% block title %}Web APP - The web app made in Flask{% endblock %}
{% block head %}
{{ super() }}
<link href="{{ url_for('static', filename='lib/bootswatch/superhero/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/nws.css') }}" rel="stylesheet">
{% endblock %}

{% block navbar %}
    <div class="container">
        <header id="top" role="banner">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ url_for('main.index') }}">Web App</a>
                    </div>
                    <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="{% if active_page == 'home' %}active{% endif %}"><a href="{{ url_for('main.index') }}">Inicio</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if current_user.is_authenticated() %}
                            {% if current_user.is_admin() %}
                            <li class="{% if active_page[:5] == 'admin' %}active{% endif %}"><a href='{{ url_for('admin.admin') }}'>Admin</a></li>
                            {% endif %}
                            <li><a href='{{ url_for('auth.logout') }}'>Sign Out</a></li>
                        {% else %}
                        <li class="{% if active_page == 'login' %}active{% endif %}"><a href='{{ url_for('auth.login') }}'>Sign In</a>
                        {% endif %}
                    </ul>
                    </div><!--/.nav-collapse -->
                </div><!--/.container-fluid -->
            </nav>
        </header>
    </div>
{% endblock %}


{% block content %}
    <div class="container">

    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}

    {% block page_content %}
    {% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <!--<script src="{{ url_for('static', filename='lib/jquery/dist/jquery.min.js', _external=True) }}"></script>-->
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <!--<script src="{{ url_for('static', filename='lib/bootstrap/dist/js/bootstrap.min.js', _external=True) }}"></script>-->
{% endblock %}
